apiVersion: v1
clusters:
- cluster:
    certificate-authority-data:  CERT_AUTH
    server: SERVER
  name: do-fra1-todo-service
contexts:
- context:
    cluster: do-fra1-todo-service
    user: do-fra1-todo-service-admin
  name: do-fra1-todo-service
current-context: do-fra1-todo-service
kind: Config
preferences: {}
users:
- name: do-fra1-todo-service-admin
  user:
    client-certificate-data: CLIENT_CERT
    client-key-data: CLIENT_KEY
